.botones a {
    font-size: .7rem;
}

.mv-caption{
    right:0;
    bottom: 14%;
}

.brillo-tam{
    filter: brightness(50%);
    height: 600px;
}

.colorfooter{
    background-image: linear-gradient(to right, #1c3643, #1e5372);
}

.card:hover{
    box-shadow: 0 0 20px 0;
}
.badge:hover{
    box-shadow: 0 0 10px 0 gray;

}

.card:hover {
    box-shadow: 0 0 15px lightgray;
}

.textoChico {
    font-size: .8rem;
}

.bgGrisOscuro {
    background-color: rgb(65, 65, 65);
}

.brilloOscuro {
    filter:brightness(50%);
}